@charset "UTF-8";

body {
	background-color:#556B2F;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	margin:0 0;
}
h1, h2, h3 {
	font-weight:400;
	color:#000000;
	margin:0;
}
h1 {
	font-size:22px;
}
h2 {
	font-size:18px;
}
p, ul, ol {
	margin-top:0;
	line-height:140%;
	text-align: inherit;
}
a {
	color:#639CBF;
	text-decoration:none;
}
.list1 li {
	float:left;
	line-height:normal;
}
.list1 li img {
	margin:0 30px 30px 0;
}
.list1 li.alt img {
	margin-right:0;
}
#ul {
	list-style:none;
	line-height:normal;
	margin:0;
	padding:0;
}
#li {
	margin-bottom:0;
	padding:0 0 10px;
}
#li ul {
	margin:0;
}
#li {
	background:url(images/bullet.jpg) no-repeat left 13px;
	border-bottom:1px solid #E0E0E0;
	margin:10px;
	padding:10px 0;
}
#li a {
	font-weight:400;
	padding:0 0 0 20px;
	text-decoration:none;
}
#li a:hover {
	font-weight:420;
	color:#666;
	text-decoration:none;
}


.header {
	width:1000px;
	height:90px;
	background:#ffffff;
	font-size:12px;
	text-align:left;
	margin:0 auto;
	padding:0 30px;
	
}

#page {
	width:1000px;
	background:#FFFFFF;
	margin:0 auto;
	padding:30px;
}
#content {
	float:right;
	width:700px;
	background:#FFF;
	margin:0;
	padding:10px;
}


#left {
	float:left;
	width:400px;
	margin-left:2px;
	padding: 0px 10px 30px 0px;
	display:inline;
}


#right {
	float:right;
	width:200px;
	padding: 0px 20px 20px 20px;
	margin-top:10px;
	border-left: #FFF 2px solid;

}



#sidebar {
	float:left;
	width:250px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	background:#FFF;
}
#sidebar ul {
	list-style:none;
	line-height:normal;
	margin:0;
	padding:0;
}
#sidebar li {
	margin-bottom:0;
	padding:0 0 10px;
}
#sidebar li ul {
	margin:0;
}
#sidebar li li {
	background:url(images/bullet.jpg) no-repeat left 13px;
	border-bottom:1px solid #E0E0E0;
	margin:10px;
	padding:10px 0;
}
#sidebar li li a {
	font-weight:400;
	padding:0 0 0 20px;
}
#sidebar li li a:hover {
	font-weight:420;
	color:#666;
}
#sidebar p {
	line-height:10%;
	margin:0;
	padding:0 14px;
}
#sidebar h2 {
	height:30px;
	font-size:18px;
	font-weight:400;
	color:#000000;
	margin:0 0 10px;
	padding:6px 0 2px;
}
#sidebar a {
	text-align:left;
	text-decoration:none;
	color:#666;
}
.footer {
	width:1000px;
	height:20px;
	background:#fff;
	margin:1px auto;
	padding:10px;
}
#footer p {
	text-align:left;
	font-size:14px;
	margin:20px;
	border:0px;
	padding:0px;
}
#footer a {
	text-align:left;
	text-decoration:none;
	color:#666;
}
img {
	border:0;
	margin-top:.0em;
}
.top-search {
position: absolute;
top: 97px;
right: 130px;
}
.entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
}
.entry h3 {
 margin-top: 0;
 margin-bottom: 2px;
 color: #227;
}
.entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}
.entry p {
 margin-top: 0.5em; 
 margin-bottom: 0.8em; 
}
.entry .price_line {
 clear: both;
 margin-bottom: 0.5em;
}
.entry .add_to_cart {
  position: relative;
}
.entry  .price {
  color: #44a;
  font-weight: bold;
  margin-right: 2em;
}
.list_line_even {
  background:   #FDFDF0;
}

.list_line_odd {
  background:   #EEF3E2;
}
.cart_title {
  font: 120% bold;
}

.item_price, .total_line {
  text-align: right;
}

.total_line .total_cell {
  font-weight: bold;
  border-top: 1px solid #595;
}
/* END:cartmain */

/* START:cartside */
/* Styles for the cart in the sidebar */

#cart, #cart table {
  color:     #44A;
}

#cart table {
  border-top:    1px dotted #595;
  border-bottom: 1px dotted #595;
  margin-bottom: 10px;
}
#notice {
        color: #000;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f0f0f0;
        font: bold smaller sans-serif;
}
#search {

}

#search input[type="text"] {
    background: url(search-dark.png) no-repeat 10px 6px #444;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: white;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 200px;
    }
